<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>添加扫描任务</title>
  <link rel="stylesheet" href="/static/css/layui.css">
</head>
<body>
<fieldset class="layui-elem-field site-demo-button" style="margin-top: 5px;">
        <legend>关于我</legend>
  <div class="layui-form-item">
    <label class="layui-form-label">研究方向</label>
    <div class="layui-input-inline">
        <br>
        <p>1、移动安全研究</p>
        <p>2、web安全研究</p>
        <p>3、安卓逆向</p>
        <p>4、安全扫描器开发</p>
    </div>
  <div class="layui-form-item">
    <label class="layui-form-label">联系方式</label>
    <div class="layui-input-inline">
        <br>
        <p>email:747289639@qq.com</p>
        <p>github:http://www.github.com/zsdlove</p>
    </div>
  </div>
</fieldset>
<br>
<br>
<fieldset class="layui-elem-field site-demo-button" style="margin-top: 5px;">
        <legend>关于本系统</legend>
  <div class="layui-form-item">
    <label class="layui-form-label">研发目的</label>
    <div class="layui-input-inline">
        <br>
        <p>1、帮助中小企业强化企业内部网络安全建设</p>
        <p>2、做全网做专业的开源扫描系统（All In One）</p>
    </div>
  <div class="layui-form-item">
    <label class="layui-form-label">实现模块</label>
    <div class="layui-input-inline">
        <br>
        <p>1、黑盒扫描模块</p>
        <p>2、灰盒扫描模块</p>
        <p>3、java白盒扫描模块</p>
        <p>4、android白盒扫描模块</p>
        <p>5、应急响应模块</p>
        <p>6、企业资产巡检模块</p>
        <p>7、用户管理模块</p>
        <p>8、插件管理模块</p>
        <p>9、资产发现模块</p>
        <p>10、云主机管理模块</p>
        <p>11、控制台展示模块</p>
        <p>12、系统配置模块</p>
        <p>13、邮件管理模块</p>
    </div>
  </div>
</fieldset>
<script src="static/layui.js"></script>
</body>
</html>