<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hades - 移动安全检测报告</title>
    <link rel="stylesheet" href="/static/css/layui.css">
    <script src="/static/layui.js"></script>
</head>
<body>
<div class="site-content" >
    <h1 class="site-h1" style="color:green"><center>Hades - 移动安全检测报告</center></h1>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
      <ul class="layui-tab-title">
        <li class="layui-this">app基本信息</li>
        <li>权限信息</li>
        <li>SDK信息</li>
        <li>恶意行为</li>
        <li>漏洞信息</li>
        <li>关于作者</li>
      </ul>
       <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            Loading...
        </div>

        <div class="layui-tab-item">
            Loading...
        </div>
        <div class="layui-tab-item">
            Loading...
        </div>
        <div class="layui-tab-item">
            Loading...
        </div>
        <div class="layui-tab-item">
            Loading...
        </div>
        <div class="layui-tab-item">
            <h3>昵称:pOny@moresec</h3>
            <h3>职称:默安科技-安全研究院-前沿研究部 安全研究员</h3>
            <h3>研究方向:移动安全、木马攻防技术、白盒</h3>
            <h3>联系方式:747289639(微信同)</h3>
        </div>
      </div>
    </div>
</div>
<script>
layui.use('element', function(){
  var element = layui.element;
});
</script>
</body>
</html>